.benefits {
    @media screen and (min-width: $desktop) {
        padding-bottom: 0px;
    }
}
.benefits__list {
    @extend %list;

    @media screen and (min-width: $tablet){
        display: flex;
        flex-wrap: wrap;
    }
}

.benefits__item {
    width: 100%;

    @media screen and (max-width: calc($tablet - 1px)) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        width: calc((100% - 30px) / 2);

        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 90px) / 4);

        &:not(:nth-child(4n)) {
            margin-right: 30px;
        }
    }
}

.benefits__icon {
    @extend %center-flex-container;

    margin-bottom: 30px;
    height: 120px;
    width: 100%;
    background-color: getColor('background-light');
    border-radius: 4px;
}

.benefits__subtitle {
    margin-bottom: 10px;

    @media screen and (max-width: calc($tablet - 1px)) {
        text-align: center;
    }
    
}

.benefits__descriptor {
    color: getColor('text-secondary');
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}