.filter {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        justify-content: center;

        margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
   
}

.filter__item {
    &:not(:last-child) {
        margin-right: 8px;
    }
}

.filter__button {
    padding: 6px 22px;

    color: getColor('text-main');
    background-color: getColor('background-light');
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    border-width: 0px;
    cursor: pointer;

    transition: color 250ms $timing-function,
        background-color 250ms $timing-function,
        box-shadow 250ms $timing-function;

    &:hover,
    &:focus {
        color: getColor('white');
        background-color: getColor('accent');
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &--current {
        color: getColor('white');
        background-color: getColor('accent');
    }
}


