
.menu-button-open {
    width: 40px;
    height: 40px;
    line-height: 0;

    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    z-index: 1000;

    &:hover .menu-button-open__icon {
        fill: getColor('accent');
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}
        
.mob-nav {    
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vh;

    z-index: 5000;

    background-color: white;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms $timing-function, visibility 500ms $timing-function;

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.mob-nav__container {
    position: relative;
    width: 100%;
    height: 100%;;
    margin: 0 auto;
    max-width: $mobile;

    display: flex;
    flex-direction: column;

    padding: 48px 25px;
}

.menu-button-close {
    position: absolute;
    right: 15px;
    top: 10px;

    width: 40px;
    height: 40px;
    line-height: 0;

    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover .menu-button-close__icon {
        fill: getColor('accent');
    }
}

.mob-menu {
    @extend %list;
    flex-grow: 1;
}

.mob-menu__item {    
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu__link {
    @extend %link;

    position: relative;
    color: getColor('text-primary');

    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;


    &:hover,
    &:focus {
        color: getColor('accent');
        padding-left: 3px;
        padding-right: 3px;
    }

    &:hover::after,
    &:focus::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: getColor('accent');
    }

    &--current {
        color: getColor('accent');
        padding-left: 3px;
        padding-right: 3px;
    }
}

.mob-menu__contacts {
    @extend %list;
}

.mob-menu__tel {
    @extend %link;
    display: block;
    margin-bottom: 32px;
    
    color: getColor('accent');
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
}

.mob-menu__email {
    @extend %link;
    display: block;
    margin-bottom: 64px;

    color: getColor('text-secondary');
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    &:hover,
    &:focus {
        color: getColor('accent');
    }
}

.mob-media {
    @extend %list;

    display:flex;
    flex-wrap: wrap;
}

.mob-media__item {
    display: inline-block;

    &:not(:last-child)::after {
        content: "";
        margin-right: 10px;
        margin-left: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        height: 22px;
    }
}

.mob-media__link {
    @extend %link;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.23;
    letter-spacing: 0.02em;
    color: getColor('accent');
}

@media screen and (min-width: $tablet) {
    .mob-nav {
        display: none;
    }
}

