.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 100000;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms $timing-function;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);

    z-index: 200000;
    
    width: calc(100% - 30px);
    max-width: 450px;
    padding: 40px;
    background-color: getColor('white');
    border-radius: 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    
    transition: transform 250ms $timing-function;

    .backdrop.is-hidden & {
        transform: translateX(-50%) translateY(-50%) scale(1.05);
    }

    @media screen and (min-width: $tablet) {
        max-width: 450px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 528px;
    }
}
 
.close-button {
    @extend %center-flex-container;

    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    z-index: 300000;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: getColor('white');
    cursor: pointer;

    transition: border 250px $timing-function;

    &:focus-visible {
        border: 1px solid getColor('accent');
        outline: none;
    }
}

.close-button__icon {
    fill: getColor('black');
    transition: fill 250ms $timing-function;

    .close-button:hover &,
    .close-button:focus & {
        fill: getColor('accent');
    }
}