.work {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
    }
}

.work__title {
    margin-bottom: 50px;
}

.work__list {
    @extend %list;
    display: flex;
}

.work__item {
    position: relative;
    width: calc((100% - 60px) / 3);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    min-height: 70px;
    padding: 27px 24px;

    background-color: rgba(47, 48, 58, 0.8);
    color: getColor('white');
    text-align: center;
}