.benefits {
    @extend %section;

    padding-bottom: 0;
}

.benefits__list {
    @extend %list;
    
    display: flex;
}

.benefits__item {
    width: calc((100% - 90px) / 4);

    &:not(:nth-child(4n)) {
        margin-right: 30px;
    }
}

.benefits__icon {
    @extend %center-flex-container;

    margin-bottom: 30px;
    height: 120px;
    background-color: getColor('background-light');
    border-radius: 4px;
}

.benefits__subtitle {
    margin-bottom: 10px;
}

.benefits__descriptor {
    color: getColor('text-secondary');
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}