.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header__flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
}

.page-nav__logo {
    margin-right: 93px;
}

.menu {
    @extend %list;

    display: flex;
}

.menu__item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.menu__link {
    @extend %link;
    @extend %link-text;
    @extend %link-paddings;

    display: block;
    color: getColor('text-primary');

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: getColor('accent');
    }

    &--current {
        position: relative;
        color: getColor('accent');
    }

    &--current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: getColor('accent');
    }
}

.contact {
    @extend %list;

    display: flex;
    align-items: center;
}

.contact__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.contact__link {
    @extend %link;
    @extend %link-text;
    @extend %link-paddings;

    display: flex;
    justify-content: left;
    align-items: center;

    color: getColor('text-secondary');
    fill: getColor('text-secondary');
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: getColor('accent');
        fill: getColor('accent');
    }
}

.contact__icon {
    margin-right: 10px;
}