 .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: $desktop) {
        font-size: 36px;
    }

    // &--light-theme {
    //     color: getColor('text-primary');
    // }

    &--dark-theme {
        color: getColor('white');
    }
 }

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    // &--light-theme {
    //     color: getColor('text-primary');
    // }

    &--dark-theme {
        color: getColor('white');
    }
}