.basic-button {
    @extend %center-flex-container;

    min-height: 50px;
    min-width: 200px;
    padding: 10px 32px;
    background-color: getColor('accent');
    color: getColor('white');
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;

    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus {
        background-color: getColor('basic-button-hover');
    }        
}

.basic-button__icon {
    fill: currentColor;

    &--right {
        margin-left: 10px;
    }

    &--left {
        margin-right: 10px;
    }
}