.team {
    @extend %section;
    
    background-color: getColor('background-light');
}

.team__title {
    margin-bottom: 50px;
}

.team__list {
    @extend %list;
    
    display: flex;
}

.team__item {
    width: calc((100% - 90px) / 4);
    background-color: getColor('white');

    text-align: center;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team__meta {
    padding: 30px 24px;
}

.team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team__role {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: getColor('text-secondary');
}

.team-media__list {
    @extend %list;  
    display: flex;
    justify-content: center;
}

.team-media__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;

.team__meta {
        padding: 30px 24px;
    }

    .team__name {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }

    .team__role {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: getColor('text-secondary');
    }

    .team-media__list {
        @extend %list;
        display: flex;
        justify-content: center;
    }

    .team-media__item {
        width: 44px;
        height: 44px;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .team-media__link {
        @extend %link;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        fill: getColor('icon-passive');

        transition: background-color 250ms $timing-function,
            fill 250ms $timing-function;

        &:hover,
        &:focus {
            fill: getColor('white');
            background-color: getColor('accent');
        }
    }
}

.team-media__link {
    @extend %link;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: getColor('icon-passive');

    transition: background-color 250ms $timing-function,
                fill 250ms $timing-function;

    &:hover,
    &:focus {
        fill: getColor('white');
        background-color: getColor('accent');
    }
}