.title--light-theme {
    @extend %title;
    color: getColor('text-primary');
}

.title--dark-theme {
    @extend %title;
    color: getColor('white');
}

.subtitle--light-theme {
    @extend %subtitle;
    color: getColor('text-primary');
}

.subtitle--dark-theme {
    @extend %subtitle;
    color: getColor('white');
}