%list {
    list-style: none;
}

%link {
    text-decoration: none;
}

%link-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

%link-paddings {
    padding-top: 32px;
    padding-bottom: 32px;
}

%center-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

%title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

%subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
